SERVER_MODE=debug
PORT=8080

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASS=
POSTGRES_NAME=
POSTGRES_SSLMODE=

GRAFANA_DB_NAME=
GRAFANA_DB_USER=
GRAFANA_DB_PASS=
GRAFANA_DB_SSLMODE=
GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASS=
